.news-article-img
{
    width: 370px;
    height: 300px;
    margin: 0 auto;
    display: block;
    text-align: justify;
    object-fit: cover;
    
}
.news-card{
    width: 400px;
    height: 550px;
    border: 2px solid gray;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    box-shadow: 1px 2px 3px 1px gray;
   font-family: Arial;
   position: relative;
}
.news-card:hover{
    box-shadow: 2px 3px 3px 1px gray;
    transform: matrix();
}
.news-cards-container{
    display: flex;
    flex-wrap: wrap;
}
.news-title
{
    font-size: 21px;
}
.news-article-author
{
  font-size: 17px;
 
}
.published
{
    font-size: 17px;
}
.article-body
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
   
}

.news-description
{
font-size: 17px;
}

.readmore-btn
{
   width: 90px;
   height: 20px;
   border: 1px solid gray;
   border-radius: 10px;
   text-decoration: none;
   padding: 5px 10px;
   color: black;
   background-color: rgb(245, 247, 247);
   position: absolute;
   bottom: 10px;
   text-align: center;
}
.readmore-btn:hover
{
    box-shadow: 1px 1px 2px 1px green;
}

.input-box
{
    width: 200px;
    font-size: 20px;
    margin: 0 auto;
}

.add-img
{
    height: 90px;
    position: fixed;
    right: 10px;
    bottom: 20px;
    z-index: 10;
}

.add-img:hover
{
   
    transform: rotate(360deg);
    transition-duration: 1.5s;
}
